/* General setup */

* {
  box-sizing: border-box;
}

html{
  font-size: 10px;
}
body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: "SlabRegular";
  line-height: 1.6;
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
  background-color: solid #a66;
  border: 5px solid solid #a66;
  padding: 25px 20px;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

@font-face {
  font-family: "Sanseriffic";
  src: url("C:/Users/grize/OneDrive/Documents/GitHub/PratigMgr.github.io/Lab 3/Part 3/font/Sanseriffic.otf");
  font-weight: bolder;
}

@font-face {
  font-family: "SlabRegular";
    src: url("C:/Users/grize/OneDrive/Documents/GitHub/pratigMgr.github.io/Lab 3/Part 3/font/TypoSlabserif-Light.ttf");
    font-weight: bolder;
  }
h1 {
   font-family: "Sanseriffic";
    text-align: center;
    letter-spacing: 0.05em;
}

h2 {
   font-family: "Sanseriffic";
    letter-spacing: 0.05em;
}

a:hover {
  text-decoration: none;
  color: #6f4e37;
}

a:focus {
  outline: none;
}

.link a::after {
  content: ""; 
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url('C:/Users/grize/OneDrive/Documents/GitHub/pratigMgr.github.io/Lab 3/Part 3/image/external-link-52.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 4px;
  vertical-align: middle;
} 

p{
  margin: 0 0 1em 0;
  line-height: 1.5;
}
ol {
  list-style: lower-alpha;
}

ul.design {
  list-style: square;
}
ul.buttons {
  list-style: none;
}

li {
  padding-left: 0em;
  line-height: 1.5;
  margin-bottom: 0.2em;
}

.indent {
  text-indent: 20px
}

nav a {
  padding: 10px;
  background-color: #fff;
  border: solid #a66;
  border-width: 1px;
  display: block;
  width: 120px;
  height: 50px;
  margin: 10px 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
  text-decoration: none; 
  color: #a66;  
}
nav a:hover {
  text-decoration: #a66;
  background-color: #a66;
}



/* WRITE YOUR CODE BELOW HERE */

